@namespace Hexalith.Folders.UI.Components
@using Hexalith.Folders.Client.Generated
@using Hexalith.FrontComposer.Shell.Components.Badges

<span class="@AdditionalCssClass" data-testid="operator-disposition-badge">
    <FcStatusBadge Slot="@_slot"
                   Label="@_label"
                   ColumnHeader="@ColumnHeader" />
</span>
